.AI {
    height: calc(50vh - 60px);
    display: flex;
    align-items: flex-start;
    padding-left: 273px;
    transform: translateY(100px);

    >p{
        width: 760px;
        font-size: 80px;
        font-weight: bold;
        position: relative;

        &::before{
            content: "";
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $lightblue;
            position: absolute;
            box-shadow: 0px 0px 0px 20px rgba(41, 120, 255, 0.54);
            transform: translate(-64px, 32px);

        }
    }
}
@media only screen and (max-width: 1200px){
    .AI {
        padding-left: 70px;

        p {
            width: auto;
            text-align: center;
        }
    }
} 
@media only screen and (max-width: 807px){
    .AI{
        height: auto;
        margin-top: 100px;
        p{
            
        }
    }
}