.mobile{
    width: 240px;
    min-height: 100vh;
    background: #1f212d;
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);

    .close {
        position: fixed;
        fill: white;
        width: 15px;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

    ul{
      width: 100%;
      height: 100%;
      flex-direction: column;
      font-size: 16px;
      display: grid;
      justify-items: start;

      li{

        &+li{
          margin: 0;
        }
        a{
          height: 55px;
          line-height: 55px;
          display: flex;
          justify-content: center;
          color: white;
          text-decoration: none;
          transition: color .2s;
          display: grid;
          grid-template-columns: 240px;
          padding-left: 40px;

          &:hover {
              color: #2962ff;
              transition: color .2s
          }
        }
      }
    }

    .get-in-touch-mobile {
        width: 224px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 4px;
        background: #2979ff;
        position: fixed;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }
  }

.show-menu {
    display: flex;
    transform: translateX(0);
    transition: transform .3s;
}

.hide-menu {
    transform: translateX(255px);
    transition: transform .3s;
}

.current-link {
    color: #2962ff !important;
}