.careers {
    .top-page {
        color: white;
        display: flex;
        justify-content: center;
        padding-top: 110px;
        padding-bottom: 110px;
        background: url('../../assets/img/careers-top-page.png') no-repeat;
        background-position: right bottom;
        background-size: 800px;
        background-color: black;

        
        .container {
            width: 1360px;
            display: flex;
            justify-content: flex-start;
            @include padding-both;

            .text {
                h1 {
                    max-width: 900px;
                    font-size: 72px;
                    font-family: 'Montserrat SemiBold'
                }
                p {
                    max-width: 730px;
                    font-size: 20px;
                    line-height: 1.6;
                    color: #bdbdbd;
                    padding-top: 50px;
                }
            }
        }
    }
    .white-vacancies {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 80px;

        .container {
            width: 1360px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: white;
            grid-column-gap: 50px;
            grid-row-gap: 50px;
            @include padding-both;

            .card-vacancy {
                border-radius: 8px;
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 30px 0 ;
                padding-right: 30px;
                padding-left: 40px;


                .location {
                    display: flex;
                    align-items: flex-end;

                    img {
                        width: 16px;
                        margin-right: 12px;
                    }
                    span {
                        font-size: 13px;
                    }
                }

                p {
                    font-size: 24px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    line-height: 1.3;
                }

                small {
                    font-size: 15px;
                    opacity: 0.4;
                }
            }
        }
    }
}

@media only screen and (max-width: 1800px) {
    .careers {
        .top-page {
            background-size: 700px;
            .container {
                .text {
                    h1 {
                        font-size: 60px;
                    }
                    p {

                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1470px) {
    .careers {
        .top-page {
            background-size: 600px;
            .container {
                .text {
                    h1 {
                        max-width: 730px;
                        font-size: 52px;
                    }
                    p {
                        max-width: 660px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1290px) {
    .careers {
        .top-page {
            background-image: none;

            .container {
                justify-content: center;
            }
        }
    }
} 

@media only screen and (max-width: 1000px) {
    .careers {
        .white-vacancies {
            .container {
                grid-template-columns: 1fr;
            }
        }
    }
}