.services-provided {
    overflow-x: hidden;

    .application {
        display: flex;
        justify-content: center;
        background: $bgColor;
        color: white;
        padding-top: 95px;
        padding-bottom: 65px;
        padding-left: 30px;
        padding-right: 30px;
        position: relative;

        &-container {
            width: 1360px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            div {
                span {
                    font-family: 'Montserrat Bold';
                    font-size: 75px;
                }
                p {
                    max-width: 680px;
                    line-height: 1.4;
                    font-family: 'Proxima Nova';            
                    font-size: 18px;
                    margin-top: 35px;
                    opacity: .5;
                }
            }
        }
    }
    .about-applications {
        display: flex;
        justify-content: center;
        padding-right: 30px;
        padding-left: 30px;
        position: relative;

        .container {
            width: 1360px;
            padding-top: 135px;
            padding-bottom: 85px;

            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;

                & + .content {
                    margin-top: 62px;
                }
                &:nth-child(even){
                    display: flex;
                    flex-direction: row-reverse;
                }
                img {
                    width: 90%;
                    padding: 20px;
                }
                .text-block {
                    .text-up {
                        margin-bottom: 40px;
                        h1 {
                            max-width: 525px;
                            font-family: 'Montserrat Bold';
                            font-size: 35px;
                            margin-bottom: 30px;
                        }
                        p {
                            max-width: 640px;
                            line-height: 1.56;
                            font-size: 18px;
                            color: #757575;
                        }
                    }
                    .text-down {
                        h1 {
                            font-family: 'Montserrat Bold';
                            font-size: 24px;
                            margin-bottom: 25px;
                        }
                        ul {
                            width: fit-content;
                            display: flex;
                            flex-direction: column;
                            color: #757575;
                            margin-left: 35px;
                            
                            li {
                                position: relative;
                            } 

                            li::before {
                                content: '';
                                width: 24px;
                                height: 1px;
                                background-color: #2962ff;
                                position: absolute;
                                left: -35px;
                                margin-top: 7px;
                            }  

                            li + li {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1235px){
    .services-provided {
        .application {
            &-container {
                img {
                    width: 370px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1130px){
    .services-provided {
        .about-applications {
            .container {
                .content {
                    .text-block {
                        .text-down {
                            ul {
                                display: inline-block;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1060px){
    .services-provided {
        .application {
            &-container {
                justify-content: center;
                text-align: center;
                > div {
                    span {
                        font-size: 41px;
                        br {
                            display: none
                        }
                    }
                    p {
                        font-size: 14px;
                    }
                }
                img {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 900px){
    .services-provided {
        .about-applications {
            .container {
                .content {
                    flex-wrap: wrap;
                    justify-content: center;
                }                
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .services-provided {
        .about-applications {
            .container {
                .content {
                    .text-block {
                        .text-up {
                            h1 {
                                font-size: 7vw;
                            }
                            p {
                                font-size: 4vw;
                            }
                        }
                    }
                }                
            }
        }
    }
}
