// Proxima Nova //
@font-face {
	font-family: 'Proxima Nova';
	src:  url('../../assets/fonts/ProximaNova-Regular.otf')
}
@font-face {
	font-family: 'ProximaNova-Light';
	src:  url('../../assets/fonts/ProximaNova-Light.otf')
}
@font-face {
	font-family: 'ProximaNova-Extrabold';
	src:  url('../../assets/fonts/ProximaNova-Extrabold.otf')
}
@font-face {
	font-family: 'ProximaNova-SemiBold';
	src:  url('../../assets/fonts//ProximaNova-Semibold.otf')
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src:  url('../../assets/fonts/Montserrat-Bold.ttf')
}
@font-face {
	font-family: 'ProximaNova-Black';
	src:  url('../../assets/fonts/Montserrat-Black.ttf')
}
// Montserrat //
@font-face {
	font-family: 'Montserrat';
	src:  url('../../assets/fonts/Montserrat-Regular.ttf')
}
@font-face {
	font-family: 'Montserrat Black';
	src:  url('../../assets/fonts/Montserrat-Black.ttf')
}
@font-face {
	font-family: 'Montserrat Bold';
	src:  url('../../assets/fonts/Montserrat-Bold.ttf')
}
@font-face {
	font-family: 'Montserrat ExtraBold';
	src:  url('../../assets/fonts/Montserrat-ExtraBold.ttf')
}
@font-face {
	font-family: 'Montserrat SemiBold';
	src:  url('../../assets/fonts/Montserrat-SemiBold.ttf')
}
@font-face {
	font-family: 'Montserrat Medium';
	src:  url('../../assets/fonts/Montserrat-Medium.ttf')
}