* {
    font-family: 'Proxima Nova';
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style: none;
}

.hide {
    display: none ;
}
.show {
    display: flex !important;
}
.scroll-hidden {
    overflow: hidden;
  }
.scroll-x-hidden {
    overflow-x: hidden !important; 
}
