* {
    font-family: 'Proxima Nova';
    padding: 0;
    margin: 0;
    font-weight: normal;
    list-style: none;
}

.hide {
    display: none ;
}
.show {
    display: flex !important;
}
.scroll-hidden {
    overflow: hidden;
  }
.scroll-x-hidden {
    overflow-x: hidden !important; 
}
.add-opacity-zero {
    opacity: 0 !important;
    transition: opacity .5s !important;
}
.open-pop-up {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    mix-blend-mode: inherit;
}

.render {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.transition-about-us {
    transition: background-color 0.2s ease 0s;
}