.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
  overflow-y: hidden;
  mix-blend-mode: exclusion;

  &-container{
    width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2.4;
    z-index: 5;

    & > * {
      z-index: 1;
    }
  
    > div {
      display: flex;
      align-items: center;
  
      > a {
        text-decoration: none;
        color: white;
        margin-right: 54px;
        position: relative;

        .logo {
          font-family: 'ProximaNova-Extrabold';
          font-size: 32px;
          font-weight: bold;
          position: relative;
        }
        
        svg {
          fill: white;
          position: absolute;
          left: -37px;
          top: 50%;
          transform: translateY(-50%)
        }
      }
      nav {
        ul {
          display: flex;
          font-size: 16px;
          margin: 0px;
          padding: 0px;
          list-style: none;
  
          li {
            &+li {
              margin-left: 48px;
            }
            a {
              color: white;
              text-decoration: none;
              transition: color .2s;
              position: relative;


              span {
                width: 100%;
                height: 2px;
                background-color: $lightblue;
                position: absolute;
                top: 43px;
                left: 0;
                display: none;
              }

              &:hover {
                color: $lightblue;
                transition: color .2s;
              }
            }
          }
        }
        &.mobile{
          width: 140px;
          display: flex;
          background: rgba(255, 255, 255, 0.623);
          position: absolute;
          right: 50px;
          top: 50px;
          border-radius: 25px;
          z-index: 999;
          display: none;
          ul{
            width: 100%;
            flex-direction: column;
            font-size: 24px;
  
            li{
  
              &+li{
                margin: 0;
              }
              a{
                height: 50px;
                line-height: 50px;
                display: flex;
                justify-content: center;
                color: black;
              }
            }
          }
        }
      }
    }
    .burger-icon {
      width: 30px;
      margin-right: 25px;
      display: none;
      .layer{
        fill: white;
      }
    } 
    button{
      width: 120px;
      height: 40px;
      font-size: 15px;
      color: white;
      background-color: $lightblue;
      border-radius: 4px;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }
  .line {
    width: 250vw;
    height: 1px;
    opacity: 0.08;
    background-color: #f5f5f5;
    position: absolute;
    top: 75px;
    z-index: 5;
  }
}

.fixed-header {
  position: fixed;
  left: 0;
  right: 0;
  overflow-x: hidden;
  z-index: 2;
}

.bg-neural {
    // background: $bgColor;
    background: transparent;
  a {
    color: white;
  }
}

.bg-about-us {
  .line {
    background: white;
    z-index: 999;
  }
}


.bg-black {
  background-color: $bgColor;
  color: white;
}

@media only screen and (max-width: 1550px){
  .header {
    padding-left: 100px;
    padding-right: 25px;
  }
}
@media only screen and (max-width: 855px){
  .header {
    padding-left: 50px;
    .header-container {
      div {
        a {
          .logo::before {
            display: none;
          }
        }
      }
    }
  }
  .white-page {
    .header-container {
      div {
        a {
          .logo::before {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px){ // for mobile
  .header {
    &-container {
      div {
        >nav {
          display: none;
        }
      }

      .burger-icon {
        display: flex;
        margin: 0;
      } 

      button {
        display: none;
      }
    }
  }
}