.home{
    color: #ffffff;
    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    .web-gl{
        position: absolute;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        top: 0;

        #vanta-net{
            position: relative;
            min-height: 100%;
            top: -150px;
            right: -250px;
        }
    }

    >div:first-of-type {
        position: relative;
    }

    .home-route-enter {
        position: absolute;
        opacity: 0;
        
        &.home-route-enter-active {
            opacity: 1;
            transition: opacity .5s;
            transition-delay: .25s;
        }
    }
    .home-route-exit {
        opacity: 1;   

        &.home-route-exit-active {
            opacity: 0;
            transition: opacity .25s;
        }
    }
}

