.scroll-section {
  display: flex;
  overflow: hidden;
  height: 100vh;

  >.cards{
    display: flex;
    padding-left: 273px;
    margin-bottom: -15px;

    & > div:last-child {
      padding-right: calc(50vw - 439.89px - 80px);
    }

    .card-home {
      display: flex;
      align-items: center;
      margin-right: 80px;

      > img {
        margin-right: 40px;
      }

      > div {
        width: 280px;
        > span{
          font-size: 15px;
          opacity: .3;
        }
        > p{
          font-size: 24px;
          font-weight: bold;
          margin: 8px 0 0 0;
        }
        > small{
          display: inline-block;
          margin: 24px 0 74px 0;
        }
        .arrow{
          width: 32px;
          height: 32px;
          background: $lightblue;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 17px;
          }
        }
      }
    }
    .borvo {
      display: flex;
      align-items: center;
      position: relative;
      line-height: 1.4;

      > span {
        font-weight: bold;
        font-size: 304px;
        z-index: 1;
        &:first-child::before{
          content: '';
          width: 275px;
          height: 275px;
          border-radius: 50%;
          background-color: rgba(41, 120, 255, 0.16);
          box-shadow: 0px 0px 0px 52px rgba(41, 120, 255, 0.08);
          position: absolute;
          z-index: -999;
          transform: translate(44%, 33.5%);
        }
      }
      .circle {
        width: 160px;
        height: 160px;
        margin-top: 35px;
        transition: clip-path 0.2s;
        z-index: 5;

        .neural {
          position: fixed;
          top: 0;
          left: 0;
					right: 0;
					height: 100vh;
          overflow: hidden;
          z-index: 999;
          margin-bottom: 350px;
          &.scroll-x {
            overflow-y: auto;
          }
          .networks{
            .networks-container{
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

.scroll-hidden {
  overflow: hidden;
}

@media only screen and (max-width: 1200px){
  .scroll-section{
    > .cards{
      padding-left: 25px;
    }
  }
}

@media only screen and (max-width: 1040px){
  .scroll-section{
    .cards{
      >.borvo{
        &:last-child{
          padding-right: calc(50vw - 296px - 60px);
        }

        .circle{
          width: 120px;
          height: 120px;
        }
        
        >span{
          font-size: 205px;

          &:first-child::before{
            width: 182px;
            height: 182px;
            transform: translate(48%, 37%);
          }  
        }
      }
    }
  }
}

@media only screen and (max-width: 630px){
  .scroll-section{
    height: auto;
    display: flex;
    justify-content: center;
    
    .cards{
      flex-direction: column;
      padding: 0;
      margin: 0;
      .card-home{
        flex-direction: column;        
        margin: 0;

        &+.card-home{
          margin-top: 100px;
        }

        img{
          margin: 0;
        }

        div{
          margin: 50px 0 0px 0;
        }
      }

      .borvo{
        display: flex;
        flex-direction: column;
        margin: 170px 0 0 0;

        span{
          font-size: 123px;
          line-height: .7;
        }

        .circle{
          width: 90px;
          height: 90px;
          margin: 15px 0 0 0;
        }

        .rvo{
          width: 80px;
          text-align: center;
          word-break: break-all;
        }
      }
    }
  }
}
