.scroll-section {
  display: flex;
  overflow: hidden;
  height: 100vh;
  .bottom-page{
    width: 1px;
    height: 1px;
    background: red;
    position: absolute;
    left: 0;
    bottom: 20px;
  }
  > .cards {
    display: flex;
    padding-left: calc(50% - 700px);
    margin-bottom: -15px;

    & > .card-home:not(:last-child){
      z-index: 10;
    }

    .card-home {
      display: flex;
      align-items: center;
      margin-right: 80px;
      padding-left: 50px;

      > div {
        margin-left: 40px;
        width: 280px;
        > span {
          font-size: 15px;
          opacity: .3;
        }
        > p {
          max-width: 225px;
          font-size: 24px;
          font-weight: bold;
          margin: 8px 0 0 0;
        }
        > small {
          display: inline-block;
          margin: 24px 0 74px 0;
          span {
            color: #9e9e9e;
          }
        }
        .arrow {
          width: 32px;
          height: 32px;
          background: $lightblue;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 17px;
          }
        }
      }
    }
    .borvo {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      line-height: 1.4;
      transform: translateX(-400px);
      margin-right: -400px;
      
      .svg-container {
        transform-origin: 49% 58.5%;
        z-index: 5;
        
        svg {
          outline: 150vh solid $bgColor;
          fill: $bgColor;
          display: inline-block;
        }
        .safari-svg {
          
          display: none;
        }
      }
      .neural {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        overflow: hidden;
        margin-bottom: 350px;
        pointer-events: none;

        &.scroll-x {
          overflow-y: auto;
        }
        .networks {
          .networks-container {
            line-height: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px){
  .scroll-section {
    .cards {
      .borvo {
        transform: translateX(-200px);
        margin-right: -200px;
      }
    }
  }
}

@media only screen and (max-width: 1024px){
  .scroll-section {
    overflow-x: scroll;
    margin-bottom: -15px;
  }
}

@media only screen and (max-width: 800px){
  .scroll-section{
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 150px;
    overflow-x: hidden;

    .cards{
      flex-direction: column;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
      
      .card-home{
        flex-direction: column;        
        margin: 0;
        padding: 0;
        &+.card-home{
          margin-top: 100px;
        }

        img{
          margin: 0;
        }

        div{
          margin: 50px 0 0px 0;
        }
      }
      .borvo {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 425px){
  .scroll-section {
    .cards {
      @include padding-both;

      .card-home {
        img{
          width: 100%;  
        }
        > div {
          width: auto;
        }
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm) // safari browser
{ @supports (-webkit-appearance:none) {

    .safari_only {
      .content-gl {
        display: none;
      }
      
      .cards {
        .borvo {
          
          .svg-container {
            outline: 150vh solid $bgColor;
            svg {
              display: inline-block;
            }
            .safari-svg {
              display: none;
            }
          }
        }
      }
    }
}}