.section-services {
    padding-left: calc(275px - 65px);
    padding-bottom: 145px;
    padding-top: 15vh;
    
    .cards-services {
        display: flex;
        flex-wrap: wrap;
        
        .card-services {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            margin-left: 65px;
            margin-bottom: 50px;
            > span{
                margin-top: 50px;
            }
        }
    }
}

@media only screen and (max-width: 1200px){
    .section-services{
        padding: 0;
        .cards-services{
            justify-content: center;
            margin-left: -65px;
        }
    }
}