.works {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: $bgColor;
    position: relative;

    .blue-block {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(41, 98, 255, 0.25);
        z-index: 2;

    }
    .hide-blue-block {
        transition: opacity 1s;
        opacity: 0;
        z-index: 2;
    }

    .works-container {
        display: flex;
        align-items: center;
        line-height: 1;
        position: relative;
        
        .content {
            overflow: hidden;
            @include padding-both;

            video {
                width: 90%;
                border-radius: 10px;
                opacity: 0.15;
                margin-bottom: -5px;
            }
        }

        .bg-gradient {
            height: 100vh;
            display: flex;
            align-items: center;
            position: absolute;
            right: 0;
            background-image: linear-gradient(to right, rgba(16, 16, 16, 0), $bgColor);
            z-index: 1;

            .text-about-work {
                color: white;
                position: relative;
                @include padding-both;
                transform: translateX(100px);
                opacity: 0;

                &.show-animation-neural {
                    transform: translateX(0);
                    opacity: 1;
                    transition:  transform .6s , opacity 1.5s; 
                }

                .project {
                    position: absolute;
                    top: 30px;
                    left: -130px;
                    color: #a878a1;
                    font-size: 24px;
                    pointer-events: none;
                    font-weight: bold;
                    display: inline-block;

                    &::before {
                        content: url('../../assets/img/flag-neural.svg');
                        position: absolute;
                        top: -59%;
                        left: -38px;
                    }
                }

                span {
                    font-size: 24px;
                    
                }
    
                h1 {
                    max-width: 670px;
                    font-family: 'Montserrat SemiBold';
                    font-size: 72px;
                    line-height: 1.13;
                    font-weight: bold;
                    margin-top: 5px;
                    margin: 0;
                }
        
                div {
        
                    span {
                        font-size: 20px;
                        color: #212121;
                    }
        
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: #d77860;
                        font-weight: bold;
                        font-size: 22px;
                        padding-top: 20px;

                        &:hover {
                            text-decoration: underline;
                        }
        
                        span {
                            width: 20px;
                            height: 20px;
                            margin-left: 10px;
                            display: flex;
                            justify-content: center;
                            
                            svg {
                                width: 80%;
                                height: auto;
                                fill: #d77860;
                                stroke-width: 3px;
                                stroke: #d77860;
                            }
                        }
                    }
                }
            }
        }
    }
}

.video-section {
    margin-bottom: 120px;

        .container {
            display: flex;
            justify-content: center;
            
            .video {
                width: 100%;
                height: 100%;
                margin-left: 120px;
                &:first-of-type{
                    margin-left: 0px;
                }
            }
        }
}

@media only screen and (max-width: 1260px){
    .works {
        .works-container {
            .bg-gradient {
                .text-about-work {
                    h1 {
                        font-size: 65px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    .works {
        .works-container {
            .content {
                video {
                    opacity: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .works {
        .works-container {
            .bg-gradient {
                .text-about-work {
                    .project {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .works {
        .works-container {
            .bg-gradient {
                .text-about-work {
                    span {
                        font-size: 16px;
                    }
                    h1 {
                        font-size: 48px;
                    }
                    div {
                        a {
                            font-size: 12px;

                            span {
                                width: 15px;
                                height: 10px;
                            }
                        }
                    } 
                }
            }
        }
    }
}

// @media only screen and (max-height: 917px) {
//     .works {
//         .works-container {
//             .content {
//                 video {
//                     width: 70%;
//                 }
//             }
//         }
//     }
// }

