@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url(f54d779752cc7fa3a5c15697296745cf.eot);
	src: local('Proxima Nova Condensed Light Italic'), local('ProximaNovaCond-LightIt'),
		url(f54d779752cc7fa3a5c15697296745cf.eot?#iefix) format('embedded-opentype'),
		url(96af7a790dc9a5bc63a39660c2561a88.woff) format('woff'),
		url(fee4e5d58025f149b69f5e0191b72823.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url(4f987e179211965a646ec40f916058cb.eot);
	src: local('Proxima Nova Light Italic'), local('ProximaNova-LightIt'),
		url(4f987e179211965a646ec40f916058cb.eot?#iefix) format('embedded-opentype'),
		url(0efcf5f69a608012bc8d4369604f3dd1.woff) format('woff'),
		url(4082bf05622e009482a05c2a4a6045ed.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url(c4c6ffa8697c3e53f57735a2316c9092.eot);
	src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
		url(c4c6ffa8697c3e53f57735a2316c9092.eot?#iefix) format('embedded-opentype'),
		url(90f4f06e361d9c08b9ae21939b7c0600.woff) format('woff'),
		url(45e443b7a1ec733f755752670d56463e.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url(169bc0f1eb2d8d0d8678014d368b0226.eot);
	src: local('Proxima Nova Extrabold'), local('ProximaNova-Extrabld'),
		url(169bc0f1eb2d8d0d8678014d368b0226.eot?#iefix) format('embedded-opentype'),
		url(ccf59c77109aecc8deeeede82e3bac87.woff) format('woff'),
		url(51563919fd1af7376fac14b1194a8e4e.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Bl';
	src: url(f4aee82e93e28c7bd99178e89f612a56.eot);
	src: local('Proxima Nova Condensed Black'), local('ProximaNovaCond-Black'),
		url(f4aee82e93e28c7bd99178e89f612a56.eot?#iefix) format('embedded-opentype'),
		url(8576a0d0cd371d6767e5863c4fb1f75f.woff) format('woff'),
		url(e446a24474efe10b7572d2a3b527aa57.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url(4e4c807a7584e8f9f777e0a203809643.eot);
	src: local('Proxima Nova Condensed Extrabold Italic'), local('ProximaNovaCond-ExtrabldIt'),
		url(4e4c807a7584e8f9f777e0a203809643.eot?#iefix) format('embedded-opentype'),
		url(ed0f04956fa1c43a330b91ac5e6d7068.woff) format('woff'),
		url(831f0fd5af3ffaec400d9800682710fa.ttf) format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url(b7c512788e3c77b0196f0bace8a88418.eot);
	src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
		url(b7c512788e3c77b0196f0bace8a88418.eot?#iefix) format('embedded-opentype'),
		url(2d2ae2556b24a45ff8d5ed86b07b5783.woff) format('woff'),
		url(7ce6760d17685c466ba04d1b2c63c38b.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url(cddac6589ca25eb44179341774222e79.eot);
	src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
		url(cddac6589ca25eb44179341774222e79.eot?#iefix) format('embedded-opentype'),
		url(8feb512e78c18175c552af2be6ae2e02.woff) format('woff'),
		url(df8c626474a73ab7a8b511655597c7c4.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url(31d025f3440180cf8ac4f8b575f1cce0.eot);
	src: local('Proxima Nova Extra Condensed Thin'), local('ProximaNovaExCn-Thin'),
		url(31d025f3440180cf8ac4f8b575f1cce0.eot?#iefix) format('embedded-opentype'),
		url(2bf5104c92c6cb6314f8c374aa202a74.woff) format('woff'),
		url(508bce54da31972b6fbc95e283eb65c5.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url(9f855086c7d03fb2d45a3c5a24ce4a75.eot);
	src: local('Proxima Nova Condensed Semibold'), local('ProximaNovaCond-Semibold'),
		url(9f855086c7d03fb2d45a3c5a24ce4a75.eot?#iefix) format('embedded-opentype'),
		url(f63773fd6af5787c6aa696374cf78f6a.woff) format('woff'),
		url(c8b3d95a11af22a5b19b83d4b6a00c91.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url(e538ddff090e9eedd7662b6793cd531e.eot);
	src: local('Proxima Nova Extra Condensed Semibold Italic'), local('ProximaNovaExCn-SemiboldIt'),
		url(e538ddff090e9eedd7662b6793cd531e.eot?#iefix) format('embedded-opentype'),
		url(e22b9b8e9df91aebb85428144126d023.woff) format('woff'),
		url(ebcc7fce31d0fbd52d86925aa38c7545.ttf) format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url(43451cf2507032dc01366c589e9bc487.eot);
	src: local('Proxima Nova Extra Condensed Semibold'), local('ProximaNovaExCn-Semibold'),
		url(43451cf2507032dc01366c589e9bc487.eot?#iefix) format('embedded-opentype'),
		url(531859de6ac3d008c9125f8cf7faa34f.woff) format('woff'),
		url(0ed922a30360a9d615b6927508231f03.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url(2b7c2fd013cab834e8db2c8e03c8c00e.eot);
	src: local('Proxima Nova Thin Italic'), local('ProximaNova-ThinIt'),
		url(2b7c2fd013cab834e8db2c8e03c8c00e.eot?#iefix) format('embedded-opentype'),
		url(0d23ced77b88ee2409417406f3d96ef0.woff) format('woff'),
		url(2b8aab378fb0ecdd6d58e97ceea0100b.ttf) format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url(e835f8d9ce8e5889e69b852310f47e52.eot);
	src: local('Proxima Nova Condensed Thin'), local('ProximaNovaCond-Thin'),
		url(e835f8d9ce8e5889e69b852310f47e52.eot?#iefix) format('embedded-opentype'),
		url(755473efbd88e607ddcb20c60e320a04.woff) format('woff'),
		url(01b7663fc1e911f9c35067c884eb605b.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url(a4938ebf5784ea49e4e5ea53dc69a0cb.eot);
	src: local('Proxima Nova Condensed Regular Italic'), local('ProximaNovaCond-RegularIt'),
		url(a4938ebf5784ea49e4e5ea53dc69a0cb.eot?#iefix) format('embedded-opentype'),
		url(24200a65df49ad12b32f3ea2ec6e6ed7.woff) format('woff'),
		url(56ba7fbde049d61e191f46a152dde2bd.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url(c951eefeb26d98b9d5bd6c26aaad62a9.eot);
	src: local('Proxima Nova Extra Condensed Thin Italic'), local('ProximaNovaExCn-ThinIt'),
		url(c951eefeb26d98b9d5bd6c26aaad62a9.eot?#iefix) format('embedded-opentype'),
		url(ea36ec306ddeb6dcabf2bdf18de433f5.woff) format('woff'),
		url(a2372b29f9f05344b1546c8f6f91a320.ttf) format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url(f5e20c8d5ef5229e7bebd8d27ea11b9a.eot);
	src: local('Proxima Nova Semibold Italic'), local('ProximaNova-SemiboldIt'),
		url(f5e20c8d5ef5229e7bebd8d27ea11b9a.eot?#iefix) format('embedded-opentype'),
		url(12fd4b2492b999a5a92b6b2f88da1f4d.woff) format('woff'),
		url(76050cd071680d656e0ca48c6dc6085f.ttf) format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url(5f5d2168729682606d59e164739146f0.eot);
	src: local('Proxima Nova Regular Italic'), local('ProximaNova-RegularIt'),
		url(5f5d2168729682606d59e164739146f0.eot?#iefix) format('embedded-opentype'),
		url(c88bf6896c76bdf8d1b293e24763f424.woff) format('woff'),
		url(61fd1e8306cce46e1c4aa51d01c24f92.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url(b1527e7e7852d9747e4786bc002e3381.eot);
	src: local('Proxima Nova Condensed Extrabold'), local('ProximaNovaCond-Extrabld'),
		url(b1527e7e7852d9747e4786bc002e3381.eot?#iefix) format('embedded-opentype'),
		url(f0bf048f34f818c5fed5efa9eef4970d.woff) format('woff'),
		url(52ca4fc1cf310ffd08b31f8b2a51870d.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url(69ddbf29f26ac0b0922fbe361814b876.eot);
	src: local('Proxima Nova Extra Condensed Extrabold Italic'), local('ProximaNovaExCn-ExtrabldIt'),
		url(69ddbf29f26ac0b0922fbe361814b876.eot?#iefix) format('embedded-opentype'),
		url(e04149190b633297448c17563a272f5b.woff) format('woff'),
		url(053bb2a38c55d3072a220573441a889c.ttf) format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Bl';
	src: url(7ec9ee04129bc2256fb1da68d986a35b.eot);
	src: local('Proxima Nova Extra Condensed Black Italic'), local('ProximaNovaExCn-BlackIt'),
		url(7ec9ee04129bc2256fb1da68d986a35b.eot?#iefix) format('embedded-opentype'),
		url(6e11383e61b983e0936738aa5d0b1c03.woff) format('woff'),
		url(a0fb7c8c2b4d5864d5e7fb43e4ee8c56.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url(6dbeb4c3bbe66954b5a2485d64915ff3.eot);
	src: local('Proxima Nova Extra Condensed Light Italic'), local('ProximaNovaExCn-LightIt'),
		url(6dbeb4c3bbe66954b5a2485d64915ff3.eot?#iefix) format('embedded-opentype'),
		url(e93c2b7ef38a450060ef368d20ca1224.woff) format('woff'),
		url(6394b41a05e26ab041830cee140f82cb.ttf) format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Th';
	src: url(c337e8fcdc6eb4aa46d5fc6625ec4d63.eot);
	src: local('Proxima Nova Condensed Thin Italic'), local('ProximaNovaCond-ThinIt'),
		url(c337e8fcdc6eb4aa46d5fc6625ec4d63.eot?#iefix) format('embedded-opentype'),
		url(4aba4564cc735c5f35e5a3b01dfe05ac.woff) format('woff'),
		url(ce7389680ca26cf2056f3111690e2624.ttf) format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Lt';
	src: url(18c65728409257a32f6ddcba196344a7.eot);
	src: local('Proxima Nova Extra Condensed Light'), local('ProximaNovaExCn-Light'),
		url(18c65728409257a32f6ddcba196344a7.eot?#iefix) format('embedded-opentype'),
		url(e728f01e6660a1edce2b704500074277.woff) format('woff'),
		url(91f04efd6f3f296e83612192ad73688c.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url(d78ecc816b49520b80c428fce6883cb8.eot);
	src: local('Proxima Nova Condensed Bold Italic'), local('ProximaNovaCond-BoldIt'),
		url(d78ecc816b49520b80c428fce6883cb8.eot?#iefix) format('embedded-opentype'),
		url(d55029117e8168815c0dbe8d9a4b5177.woff) format('woff'),
		url(952bd32c42d8c256bbe90d167d1d0049.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Th';
	src: url(c9be7f03ba4e8215a9547ab9c52dafe2.eot);
	src: local('Proxima Nova Extra Condensed Extrabold'), local('ProximaNovaExCn-Extrabld'),
		url(c9be7f03ba4e8215a9547ab9c52dafe2.eot?#iefix) format('embedded-opentype'),
		url(ae8b34ed77b6f640b06bc5a149c8f0de.woff) format('woff'),
		url(17b18867a70f507a69bf31cd262d01e5.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url(15c6f1b6976824aa31148d1a1208d87e.eot);
	src: local('Proxima Nova Extra Condensed Bold Italic'), local('ProximaNovaExCn-BoldIt'),
		url(15c6f1b6976824aa31148d1a1208d87e.eot?#iefix) format('embedded-opentype'),
		url(5b14909281652fdabbdd528524fd8021.woff) format('woff'),
		url(3b25063d4d01ec06448cc0e4bdd51545.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url(4325ed848b66ed370420ea7fea09bc80.eot);
	src: local('Proxima Nova Black'), local('ProximaNova-Black'),
		url(4325ed848b66ed370420ea7fea09bc80.eot?#iefix) format('embedded-opentype'),
		url(b978d1b46a86df7a012cf8442936a1cb.woff) format('woff'),
		url(a0606c5fef28b9e57f501db027063141.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url(10141a9d737da9c84e6e14ec5a562c6c.eot);
	src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
		url(10141a9d737da9c84e6e14ec5a562c6c.eot?#iefix) format('embedded-opentype'),
		url(e2cf3dc2f079bf3d5185a02552f153c4.woff) format('woff'),
		url(926a08fb27e3303c7452b0bdd2d5e5ab.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url(1e72bd9f1d3175c7042acdbde2469d24.eot);
	src: local('Proxima Nova Extra Condensed Bold'), local('ProximaNovaExCn-Bold'),
		url(1e72bd9f1d3175c7042acdbde2469d24.eot?#iefix) format('embedded-opentype'),
		url(966eb9cbbd1b789054ac77707d01e070.woff) format('woff'),
		url(000632724963a7341a025d9d29aedfd9.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url(c8516677b967f1e3212e6274da5be696.eot);
	src: local('Proxima Nova Thin'), local('ProximaNovaT-Thin'),
		url(c8516677b967f1e3212e6274da5be696.eot?#iefix) format('embedded-opentype'),
		url(2499eb7607015ec5967d0f3bf8750ae3.woff) format('woff'),
		url(4a3961960c6827bf176eb0ef73653784.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url(54fe7d558c6478388a89744c25fd5514.eot);
	src: local('Proxima Nova Bold Italic'), local('ProximaNova-BoldIt'),
		url(54fe7d558c6478388a89744c25fd5514.eot?#iefix) format('embedded-opentype'),
		url(af44a852757d1cac8f2ff15e6de18ae5.woff) format('woff'),
		url(0e18c5b3dd6cfbb1d32c15b4c9cc8106.ttf) format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url(9b75d58eb57d6104c1b4f1aafc7790f7.eot);
	src: local('Proxima Nova Condensed Bold'), local('ProximaNovaCond-Bold'),
		url(9b75d58eb57d6104c1b4f1aafc7790f7.eot?#iefix) format('embedded-opentype'),
		url(d04bcdbeb2064d401ae2a5d1183de307.woff) format('woff'),
		url(4a705b08982e53acfd088a0095e2bbed.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Bl';
	src: url(50e304904ef79cabd5cdce7577b776ee.eot);
	src: local('Proxima Nova Extra Condensed Black'), local('ProximaNovaExCn-Black'),
		url(50e304904ef79cabd5cdce7577b776ee.eot?#iefix) format('embedded-opentype'),
		url(53fca16a9b49a5ac113eb81599d93a92.woff) format('woff'),
		url(f5dd0d63e5320e76dd3952ad4cff5a95.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url(eb56098339e50096f0558f01f9036cf6.eot);
	src: local('Proxima Nova Extra Condensed Regular Italic'), local('ProximaNovaExCn-RegularIt'),
		url(eb56098339e50096f0558f01f9036cf6.eot?#iefix) format('embedded-opentype'),
		url(e1ec041048fb1c7ef0fc3b00ca702fad.woff) format('woff'),
		url(90c38adeb3d485762da65685f1978a82.ttf) format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url(48aa3a15fc52dda835a05988c23ca260.eot);
	src: local('Proxima Nova Condensed Light'), local('ProximaNovaCond-Light'),
		url(48aa3a15fc52dda835a05988c23ca260.eot?#iefix) format('embedded-opentype'),
		url(673b6a32540089338303987cca98c3a6.woff) format('woff'),
		url(e72c6a1c67617337a21ada73fd8d3a3e.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url(6ba3d75733e6715c0e5cf15749a7a472.eot);
	src: local('Proxima Nova Extrabold Italic'), local('ProximaNova-ExtrabldIt'),
		url(6ba3d75733e6715c0e5cf15749a7a472.eot?#iefix) format('embedded-opentype'),
		url(45a35c62b5e1b44b38581a31135d143b.woff) format('woff'),
		url(200afa6387fc6e666c54cbf04813d0e4.ttf) format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Cn Bl';
	src: url(a05b818064f899c86c464675bc48e083.eot);
	src: local('Proxima Nova Condensed Black Italic'), local('ProximaNovaCond-BlackIt'),
		url(a05b818064f899c86c464675bc48e083.eot?#iefix) format('embedded-opentype'),
		url(72a692213a58ccad4f9c16f43f1e06fc.woff) format('woff'),
		url(8ffbb5f5f78572f71c4473ba968595e6.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova ExCn Rg';
	src: url(22d35e169590a9e2f45f4216aeb7d66f.eot);
	src: local('Proxima Nova Extra Condensed Regular'), local('ProximaNovaExCn-Regular'),
		url(22d35e169590a9e2f45f4216aeb7d66f.eot?#iefix) format('embedded-opentype'),
		url(c284d8be6dad3871b4b8ff877fc3f4df.woff) format('woff'),
		url(44d67cdb354ecf7c728afa644b0cb918.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url(d778218590f14376c366c515d384808e.eot);
	src: local('Proxima Nova Light'), local('ProximaNova-Light'),
		url(d778218590f14376c366c515d384808e.eot?#iefix) format('embedded-opentype'),
		url(eb74a591665045d87eabfb2dc759be0a.woff) format('woff'),
		url(0188899cd3ec92cdcaa4c97ca0c75247.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Cn Lt';
	src: url(80bd50e92f14ae588fc37fc941e35a2f.eot);
	src: local('Proxima Nova Condensed Semibold Italic'), local('ProximaNovaCond-SemiboldIt'),
		url(80bd50e92f14ae588fc37fc941e35a2f.eot?#iefix) format('embedded-opentype'),
		url(8a742ee77d45f7df8d05fc4410d4fb19.woff) format('woff'),
		url(5177fabdfcff0a8d571d9c2d588ea8fb.ttf) format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Proxima Nova Bl';
	src: url(a9ee33c2fcc35e78aafee1e86170f9be.eot);
	src: local('Proxima Nova Black Italic'), local('ProximaNova-BlackIt'),
		url(a9ee33c2fcc35e78aafee1e86170f9be.eot?#iefix) format('embedded-opentype'),
		url(f7d3368adf113395b2b4c16d18344b13.woff) format('woff'),
		url(77aed8ec40b789d1ceafb0fa7dabccf8.ttf) format('truetype');
	font-weight: 900;
	font-style: italic;
}
* {
  font-family: 'Proxima Nova Rg';
  padding: 0;
  margin: 0; }

.hide {
  opacity: 0; }

.show {
  display: flex !important; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-right: 25px;
  padding-left: 25px; }
  .header-container {
    width: 1360px;
    display: flex;
    justify-content: space-between; }
    .header-container > * {
      z-index: 1; }
    .header-container div {
      display: flex;
      align-items: center; }
      .header-container div > a {
        text-decoration: none;
        color: white;
        margin-right: 54px; }
        .header-container div > a span {
          font-size: 32px;
          font-weight: bold; }
      .header-container div nav ul {
        display: flex;
        font-size: 16px;
        margin: 0px;
        padding: 0px;
        list-style: none; }
        .header-container div nav ul li + li {
          margin-left: 48px; }
        .header-container div nav ul li a {
          color: white;
          text-decoration: none; }
      .header-container div nav.mobile {
        width: 140px;
        display: flex;
        background: rgba(255, 255, 255, 0.623);
        position: absolute;
        right: 50px;
        top: 50px;
        border-radius: 25px;
        z-index: 999;
        display: none; }
        .header-container div nav.mobile ul {
          width: 100%;
          flex-direction: column;
          font-size: 24px; }
          .header-container div nav.mobile ul li + li {
            margin: 0; }
          .header-container div nav.mobile ul li a {
            height: 50px;
            line-height: 50px;
            display: flex;
            justify-content: center;
            color: black; }
    .header-container .burger-icon {
      width: 30px;
      margin-right: 25px;
      display: none; }
      .header-container .burger-icon .layer {
        fill: white; }
    .header-container button {
      width: 134px;
      height: 40px;
      font-size: 15px;
      color: white;
      border: 1px solid #2979ff;
      background-color: transparent;
      border-radius: 20px;
      outline: none; }

.white-page {
  padding: 0; }
  .white-page div a {
    color: black; }
    .white-page div a span {
      display: flex;
      margin-left: 55px;
      position: relative; }
      .white-page div a span::before {
        content: "";
        width: 12px;
        height: 12px;
        background: #2979ff;
        border-radius: 50%;
        opacity: 0.9;
        box-shadow: 0 0 0 10px rgba(41, 120, 255, 0.3);
        position: absolute;
        left: -35px;
        top: 12px; }
  .white-page div nav ul li a {
    color: white;
    text-decoration: none;
    color: black; }
  .white-page div nav.mobile {
    background: rgba(0, 0, 0, 0.623); }
    .white-page div nav.mobile ul li a {
      color: white; }
  .white-page .burger-icon .layer {
    fill: black; }
  .white-page button {
    color: black; }

@media only screen and (max-width: 1550px) {
  .header {
    padding-left: 100px;
    padding-right: 25px; } }

@media only screen and (max-width: 855px) {
  .header {
    padding-left: 25px; } }

@media only screen and (max-width: 768px) {
  .header-container {
    height: 30px; }
    .header-container div > nav {
      display: none; }
    .header-container .burger-icon {
      display: flex;
      margin: 0; }
    .header-container button {
      display: none; } }

.AI {
  height: calc(50vh - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(100px);
  position: relative;
  pointer-events: none; }
  .AI-container {
    width: 1360px; }
    .AI-container .pulsatingCircle {
      width: 0px;
      height: 0px;
      display: block;
      transform: scale(4, 4) translate(-13px, 13px); }
    .AI-container .firstCircle,
    .AI-container .secondCircle,
    .AI-container .thirdCircle {
      top: 50%;
      left: 50%;
      display: block;
      border-radius: 50%;
      position: absolute;
      vertical-align: middle; }
    .AI-container .firstCircle {
      width: 8px;
      height: 8px;
      margin: -5px 0 0 -5px;
      background-color: #2979ff; }
    .AI-container .secondCircle {
      width: 12px;
      height: 12px;
      margin: -10px 0 0 -10px;
      border: 3px solid rgba(41, 120, 255, 0.54);
      animation: 2000ms pulseIn ease-in-out infinite; }

@keyframes pulseIn {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.2); }
  50% {
    opacity: 1;
    transform: scale(0.7, 0.7); }
  100% {
    opacity: 0;
    transform: scale(0.2, 0.2); } }
    .AI-container .thirdCircle {
      width: 16px;
      height: 16px;
      border: 4px solid rgba(41, 120, 255, 0.54);
      margin: -13px 0 0 -13px;
      animation: 2000ms pulseIn 350ms ease-in-out infinite; }
    .AI-container > p {
      width: 760px;
      font-size: 80px;
      font-weight: bold;
      position: relative; }

@media only screen and (max-width: 1550px) {
  .AI {
    padding-left: 100px; } }

@media only screen and (max-width: 855px) {
  .AI {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 200px;
    height: 100%; }
    .AI p {
      width: auto; } }

@media only screen and (max-width: 425px) {
  .AI .pulsatingCircle {
    display: none; }
  .AI p {
    font-size: 75px; } }

@media only screen and (max-width: 375px) {
  .AI p {
    font-size: 65px; } }

@media only screen and (max-width: 320px) {
  .AI p {
    font-size: 55px; } }

.scroll-section {
  display: flex;
  overflow: hidden;
  height: 100vh; }
  .scroll-section > .cards {
    display: flex;
    padding-left: 273px;
    margin-bottom: -15px; }
    .scroll-section > .cards > div:last-child {
      padding-right: calc(50vw - 439.89px - 80px); }
    .scroll-section > .cards .card-home {
      display: flex;
      align-items: center;
      margin-right: 80px; }
      .scroll-section > .cards .card-home > img {
        margin-right: 40px; }
      .scroll-section > .cards .card-home > div {
        width: 280px; }
        .scroll-section > .cards .card-home > div > span {
          font-size: 15px;
          opacity: .3; }
        .scroll-section > .cards .card-home > div > p {
          font-size: 24px;
          font-weight: bold;
          margin: 8px 0 0 0; }
        .scroll-section > .cards .card-home > div > small {
          display: inline-block;
          margin: 24px 0 74px 0; }
        .scroll-section > .cards .card-home > div .arrow {
          width: 32px;
          height: 32px;
          background: #2979ff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .scroll-section > .cards .card-home > div .arrow img {
            width: 17px; }
    .scroll-section > .cards .borvo {
      display: flex;
      align-items: center;
      position: relative;
      line-height: 1.4; }
      .scroll-section > .cards .borvo > span {
        font-weight: bold;
        font-size: 304px;
        z-index: 1; }
        .scroll-section > .cards .borvo > span:first-child::before {
          content: '';
          width: 275px;
          height: 275px;
          border-radius: 50%;
          background-color: rgba(41, 120, 255, 0.16);
          box-shadow: 0px 0px 0px 52px rgba(41, 120, 255, 0.08);
          position: absolute;
          z-index: -999;
          transform: translate(44%, 33.5%); }
      .scroll-section > .cards .borvo .circle {
        width: 160px;
        height: 160px;
        margin-top: 35px;
        transition: clip-path 0.2s;
        z-index: 5; }
        .scroll-section > .cards .borvo .circle .neural {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          height: 100vh;
          overflow: hidden;
          z-index: 999;
          margin-bottom: 350px;
          pointer-events: none; }
          .scroll-section > .cards .borvo .circle .neural.scroll-x {
            overflow-y: auto; }
          .scroll-section > .cards .borvo .circle .neural .networks .networks-container {
            line-height: 1; }

.scroll-hidden {
  overflow: hidden; }

@media only screen and (max-width: 1200px) {
  .scroll-section > .cards {
    padding-left: 100px; } }

@media only screen and (max-width: 1040px) {
  .scroll-section .cards > .borvo:last-child {
    padding-right: calc(50vw - 296px - 60px); }
  .scroll-section .cards > .borvo .circle {
    width: 120px;
    height: 120px; }
  .scroll-section .cards > .borvo > span {
    font-size: 205px; }
    .scroll-section .cards > .borvo > span:first-child::before {
      width: 182px;
      height: 182px;
      transform: translate(48%, 37%); } }

@media only screen and (max-width: 768px) {
  .scroll-section {
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 150px; }
    .scroll-section .cards {
      flex-direction: column;
      padding: 0;
      margin: 0; }
      .scroll-section .cards .card-home {
        flex-direction: column;
        margin: 0; }
        .scroll-section .cards .card-home + .card-home {
          margin-top: 100px; }
        .scroll-section .cards .card-home img {
          margin: 0; }
        .scroll-section .cards .card-home div {
          margin: 50px 0 0px 0; }
      .scroll-section .cards .borvo {
        display: flex;
        flex-direction: column;
        margin: 170px 0 0 0; }
        .scroll-section .cards .borvo span {
          font-size: 123px;
          line-height: .7; }
          .scroll-section .cards .borvo span:first-of-type::before {
            width: 140px;
            height: 140px;
            transform: translate(-25.5%, 54%); }
        .scroll-section .cards .borvo .circle {
          width: 90px;
          height: 90px;
          margin: 15px 0 0 0; }
        .scroll-section .cards .borvo .rvo {
          width: 80px;
          text-align: center;
          word-break: break-all; } }

.home {
  color: #ffffff;
  background-color: #0d0f1c;
  margin: 0px;
  padding: 0px;
  overflow: hidden; }
  .home .web-gl {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    top: 0; }
    .home .web-gl #vanta-net {
      position: relative;
      min-height: 100%;
      top: -150px;
      right: -250px; }
  .home > div:first-of-type {
    position: relative; }
  .home .scroll-section.home-route-enter {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0; }
    .home .scroll-section.home-route-enter.home-route-enter-active {
      opacity: 1;
      transition: opacity 0.25s;
      transition-delay: 0.25s; }
  .home .scroll-section.home-route-exit {
    opacity: 1; }
    .home .scroll-section.home-route-exit.home-route-exit-active {
      opacity: 0;
      transition: opacity 0.25s; }
  .home .section-services.home-route-enter .card-services {
    opacity: 0; }
  .home .section-services.home-route-enter.home-route-enter-active .card-services {
    opacity: 1;
    transition: opacity 0.25s; }
    .home .section-services.home-route-enter.home-route-enter-active .card-services:nth-child(2) {
      transition-delay: 0.05s; }
    .home .section-services.home-route-enter.home-route-enter-active .card-services:nth-child(3) {
      transition-delay: 0.1s; }
    .home .section-services.home-route-enter.home-route-enter-active .card-services:nth-child(4) {
      transition-delay: 0.15s; }
    .home .section-services.home-route-enter.home-route-enter-active .card-services:nth-child(5) {
      transition-delay: 0.2s; }
  .home .section-services.home-route-exit .card-services {
    opacity: 1; }
  .home .section-services.home-route-exit.home-route-exit-active .card-services {
    opacity: 0;
    transition: opacity 0.25s; }
    .home .section-services.home-route-exit.home-route-exit-active .card-services:nth-child(2) {
      transition-delay: 0.05s; }
    .home .section-services.home-route-exit.home-route-exit-active .card-services:nth-child(3) {
      transition-delay: 0.1s; }
    .home .section-services.home-route-exit.home-route-exit-active .card-services:nth-child(4) {
      transition-delay: 0.15s; }
    .home .section-services.home-route-exit.home-route-exit-active .card-services:nth-child(5) {
      transition-delay: 0.2s; }

@media only screen and (max-width: 630px) {
  .home .web-gl #vanta-net {
    right: 0; } }

.neural {
  font-family: 'Proxima Nova Rg';
  background: white;
  overflow-x: hidden;
  color: #212121;
  margin-bottom: 350px; }
  .neural > .networks .networks-container {
    margin-top: 100px;
    text-align: center;
    line-height: 1; }
    .neural > .networks .networks-container h1 {
      margin: 0;
      font-size: 64px;
      font-weight: bold; }
    .neural > .networks .networks-container p {
      font-size: 20px;
      line-height: 1.5;
      color: #212121;
      margin: 0 auto;
      margin-top: 34px;
      margin-bottom: 25px; }
    .neural > .networks .networks-container div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 59px 0; }
      .neural > .networks .networks-container div span {
        font-size: 20px;
        color: #212121; }
      .neural > .networks .networks-container div a {
        display: flex;
        align-items: center;
        color: white;
        text-decoration: none;
        color: #212121; }
        .neural > .networks .networks-container div a:hover {
          text-decoration: underline; }
        .neural > .networks .networks-container div a span {
          width: 20px;
          height: 20px;
          border: 1px solid #212121;
          border-radius: 50%;
          margin-left: 10px;
          display: flex;
          justify-content: center; }
          .neural > .networks .networks-container div a span .arrow {
            width: 15px; }
  .neural .video-section {
    margin-bottom: 120px; }
    .neural .video-section .container {
      display: flex;
      justify-content: center; }
      .neural .video-section .container .video {
        width: 100%;
        height: 100%;
        margin-left: 120px; }
        .neural .video-section .container .video:first-of-type {
          margin-left: 0px; }
  .neural .skills {
    padding-left: 25px;
    padding-right: 25px; }
    .neural .skills div {
      text-align: center; }
      .neural .skills div h1 {
        font-size: 40px;
        font-weight: bold; }
      .neural .skills div p {
        font-size: 18px;
        margin: 28px 0 63px 0; }
    .neural .skills .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: -25px; }
      .neural .skills .cards .card {
        width: 174px;
        height: 174px;
        border-radius: 8px;
        border: 1px solid #f5f5f5;
        margin-bottom: 62px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 25px; }
        .neural .skills .cards .card img {
          width: 56px;
          height: 56px;
          margin: 0 auto;
          margin-bottom: 19px; }
  .neural footer {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px; }
    .neural footer .container {
      width: 1385px;
      display: flex; }
      .neural footer .container .software {
        width: 100%; }
        .neural footer .container .software span {
          display: inline-block;
          margin-bottom: 21px;
          font-size: 16px;
          font-weight: bold; }
        .neural footer .container .software ul {
          display: flex;
          height: 85px;
          flex-direction: column;
          flex-wrap: wrap;
          list-style: none;
          padding: 0;
          margin: 0; }
          .neural footer .container .software ul li + li {
            margin-top: 8px; }
      .neural footer .container .ua-ux {
        width: 450px; }
        .neural footer .container .ua-ux span {
          display: inline-block;
          margin-bottom: 21px;
          font-size: 16px;
          font-weight: bold; }
        .neural footer .container .ua-ux ul {
          width: 510px;
          height: 85px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          list-style: none;
          padding: 0;
          margin: 0; }
          .neural footer .container .ua-ux ul li + li {
            margin-top: 8px; }

.none {
  display: none; }

@media only screen and (max-width: 1100px) {
  .neural footer .container {
    width: 720px;
    flex-direction: column; }
    .neural footer .container .software {
      margin-bottom: 40px; } }

@media only screen and (max-width: 620px) {
  .neural footer .container {
    width: 445px;
    flex-direction: column; }
    .neural footer .container .software ul {
      height: 160px; } }

@media only screen and (max-width: 768px) {
  .neural {
    margin-bottom: 100px; }
    .neural .networks .networks-container {
      margin-top: 135px; }
    .neural .skills .cards {
      flex-wrap: wrap; } }

@media only screen and (max-width: 460px) {
  .neural footer .container {
    width: 235px;
    flex-direction: column; }
    .neural footer .container .software ul {
      height: 300px; }
    .neural footer .container .ua-ux ul {
      height: 160px; } }

.section-services {
  padding-bottom: 145px;
  padding-top: 15vh;
  display: flex;
  justify-content: center; }
  .section-services .cards-services {
    width: 1540px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 65px; }
    .section-services .cards-services .card-services {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      margin-left: 65px;
      margin-bottom: 50px; }
      .section-services .cards-services .card-services > span {
        margin-top: 50px; }

@media only screen and (max-width: 1654px) {
  .section-services {
    padding: 0; }
    .section-services .cards-services {
      justify-content: center;
      margin-left: -65px; } }
